# No whitespace after the comma or in your part name!
config TeeDa_LEFT
    def_bool $(shields_list_contains,TeeDa_left)

# No whitespace after the comma or in your part name!
config TeeDa_RIGHT
    def_bool $(shields_list_contains,TeeDa_right)